body {
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    text-align: center;
  }

  .container {
    width: 280px;
    height: 485px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    margin: 35px auto;
    padding: 20px;
   }

  .conteudo-primario {
    font-family: 'Outfit';
    font-weight: 700;
  }
  .conteudo-secundario {
    font-family: 'Outfit';
    font-weight: 400;
    margin: 20px;
    color: hsl(220, 15%, 55%);
  }
  .img-code {
    width: 100%;
    border-radius: 20px;
  }


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }